<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>

    <title>Misorientation space</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

    <div class="container">
        <div class="col s10 offset-s1">
            <div class="col s12" id="plot">
            </div>

            <div class="col s12"> 
                <div class="input-field col s6">
                    <textarea name="G1" id="G1" cols="40" rows="5" class="materialize-textarea">{{ G1 }}</textarea>
                    <label for="G1">Группа 2G</label>
                </div>
                <div class="input-field col s6">
                    <textarea name="G2" id="G2" cols="40" rows="5" class="materialize-textarea">{{ G2 }}</textarea>
                    <label for="G2">Группа 2H</label>
                </div>
                <div class="input-field col s12">
                    <a class="waves-effect waves-light btn" id="submit1">Visualise in SO(3)</a>
                </div>
                <div class="input-field col s12">
                    <a class="waves-effect waves-light btn" id="submit2">Visualise in the misorientation space</a>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
        PLOT = document.getElementById('plot');

        function printData(G1, G2, query) {
            Plotly.purge(PLOT);

            $.post( query, { "G1": G1, "G2": G2 }).done(
                (plots) => {
                    JSON.parse(plots).forEach((plot) => {
                        var xs = plot["xs"], ys = plot["ys"], zs = plot["zs"], name=plot["name"];
                        Plotly.plot(PLOT, [{
                            type: 'scatter3d',
                            mode: 'lines',
                            name: name,
                            x: xs,
                            y: ys,
                            z: zs,
                            opacity: 1,
                            line: {
                                width: 6,
                            }
                        }], {
                            height: 640
                        });
                    })
                }
            );
        }
        $( "#submit1" ).click(function() {
            printData($("#G1").val(), $("#G2").val(), "get_so3");
        });
        $( "#submit2" ).click(function() {
            printData($("#G1").val(), $("#G2").val(), "get_misorient");
        });

        printData($("#G1").val(), $("#G2").val());
    </script>
</body>
</html>
